/* HOJA DE ESTILOS */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #cccccc 2px;
}

.container_texto {
    display: flex;
    justify-content: center;
    border: solid red 3px;
    margin-top: 10px;
}